@using E_STUDIES.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@*<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
@*}
            </section>
        </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    </div>*@
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/login.css" />
<link rel="stylesheet" href="~/Fonts/Poppins-Regular.ttf" />
<link rel="stylesheet" href="~/css/root.css" />






<body class="bg-image">
    <div class="mx-auto mt-5">
        <div class="Login_form p-3 bg-white mx-auto col-xl-5 col-lg-6 col-md-8 col-sm-12 col-xs-12 col-12 mx-auto">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "mx-auto", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="mx-auto mb-3 text-center">
                    <img src="~/Images/Login_logo.png" alt="login_logo" height="170" width="170" />
                </div>
                <div class="floating-label">
                    @*<input class="input" placeholder="Email" type="email" name="email" id="email" autocomplete="off" />*@
                    @Html.TextBoxFor(m => m.Email, new { @class = "input", @placeholder = "Email", id = "email", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <label for="email">Email:</label>
                    <div class="icon">
                        <?xml version="1.0" encoding="UTF-8" ?>
                        <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100"
                             xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <style type="text/css">
                                .st0 {
                                    fill: none;
                                }
                            </style>
                        <g transform="translate(0 -952.36)">
                        <path d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z" />















                            </g>
                        <rect class="st0" width="100" height="100" />















                        </svg>

                    </div>
                </div>
                <div class="floating-label mb-3">
                    @*<input class="input" placeholder="Password" type="password" name="password" id="password" autocomplete="off" />*@
                    @Html.PasswordFor(m => m.Password, new { @class = "input", @placeholder = "Password", id = "password", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <label for="password">Password:</label>
                    <div class="icon">

                        <?xml version="1.0" encoding="UTF-8" ?>
                        <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24"
                             xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <style type="text/css">
                                .st0 {
                                    fill: none;
                                }

                                .st1 {
                                    fill: #010101;
                                }
                            </style>
                        <rect class="st0" width="24" height="24" />















                        <path class="st1" d="M19,21H5V9h14V21z M6,20h12V10H6V20z" />















                        <path class="st1"
                              d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z" />















                        <path class="st1"
                              d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z" />















                        </svg>
                    </div>

                </div>
                <div class="form-check mb-5 ms-3">
                    @*<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />*@
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                    <span class="form-check-label" for="flexCheckDefault">
                        Remember Me
                    </span>
                </div>

                <div class="col-md-12 mt-2 text-center">
                    <p>Don't have an account? <a href="@Url.Action("Register", "Account")">Register</a></p>
                </div>
                <div class="col-7 mx-auto">
                    <button class="button_sec Login" type="submit">Log in</button>
                </div>
                <!-- <a href="https://codepen.io/elujambio/pen/yjwzGP" class="discrete" target="_blank">Basic version</a> -->
            }
            </div>
    </div>



    <script src="js/bootstrap.min.js">
    </script>
    <script src="js/bootstrap.bundle.min.js">
    </script>



    <script src="~/js/bootstrap.min.js">
    </script>
    <script src="~/js/bootstrap.bundle.min.js">
    </script>






































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</body>