@model IEnumerable<E_STUDIES.Models.Parents_data>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Parent_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cnic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parents_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cnic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parents_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Parents_data_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Parents_data_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Parents_data_id })
        </td>
    </tr>
}

</table>
